### CS 210: Data Management for Data Science
#### Fall 2023

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [1]:
NAME = "Arnav Dashaputra"
COLLABORATORS = ""

---

## Homework 5: <font color="blue">SQL Database</font>

<p>Due Wednesday, December 13 at 11 PM in Codebench</font>
<p><font color="red">No Late Submissions Accepted</font></p>
</h3>
</center>
You may work on the assignment in pairs that you choose.
<hr>

### Overview

<p>Implement a Music relational (SQL) database, of the kind that might be used
by Spotify or Amazon Music. The database has artists, albums, songs, users, 
playlists, and ratings.

<p>You are allowed up to 3 submissions. <font color="red">Only the last submission will be graded.</font>
   
You may populate the tables with data for your own testing, but we 
<b>do not</b> want you to turn in any of the data, or the results
of any of your queries. We are only asking for the
document with the required SQL statements for table creation and queries.

---

<h3>Part I: Database Schema (50 pts)</h3>

<p>You are given the following description of the entities that need to be
stored in the database. Your task is to design a database schema (set of tables)
to store these entities. 

<p><font color="red">Your schema must be minimally redundant in storing 
data.</font>
In other words, you should build a set of tables that minimize the repetition
of data, by using foreign keys - credit will be in accordance with this.

<ul>
<p><li><b>Artist</b>: An individual or a group/band, uniquely identified by
their name.
An artist might release albums, as well as songs that are not in albums (singles).

<p><li><b>Song</b>: A song has a title and is performed by an artist, either as
a part of an album, or as a single that's not part of an album. Every song
in an album has the release date of the album, but a single song has its
own release date.

A song title is
unique to an artist (the same artist records a song exactly once), but the
title may be shared by multiple artists (i.e. covers).

<p>A song belongs to one or more genres. For example, a song could
be in a single genre, such as <em>R &amp; B</em>, or could be in multiple
genres such as <em>Pop</em> and <em>Rock</em>. Genres are pre-defined, and every
song must be in at least one genre.
Also, songs in an album need not all be in the same genre.

<p><li><b>Album</b>: An album is a collection of songs released by an artist, on a 
certain date. For example, the album <em>Achtung Baby</em> was made by 
the artist (band) <em>U2</em>, released on <em>November 19, 1991</em>.
An album name is not unique, but the combination of album
name and artist name is unique.

<p><li><b>User</b>: A user is uniquely identified by their <em>username</em>. 
A user can optionally have one or more playlists, and optionally have ratings
for songs, albums, or playlists.
In other words, it's possible that a user has no playlists,
and hasn't given any ratings.

<p><li><b>Playlist</b>: A user can make any number of playlists of songs. 
Note: A playlist may not include an entire album, only individual songs.
Each song is either from some album, or a single that's not in any album. 

<p>Every playlist has a title, and a date+time when it was created. A playlist
may be modified any number of times after creation by adding or removing
songs, but the title and date+time will not change.

<p>The title of a playlist is not unique since different users might create 
playlists with the same title. However, a user's playlists will have unique
titles.

<p><li><b>Rating</b>: A user could rate an album, a song (even if it's in an album), 
or a playlist. A rating is limited to 1,2,3,4, or 5 (numeric), and is made 
on a specific date. 
</ul>

<p>Your database structure should have the most appropriate data type and size
for each column in each table.

<p>For size of data, think of a realistic online music service and imagine
how many songs/artists/albums/playlists/users/ratings it might have to support.
The idea is to use the least amount of storage space for each column that
will be able to store the entire range of foreseeable values.

<p>Make sure you define and specify all primary keys, foreign keys, unique
valued columns or unique valued combination of columns, and null/non-null 
properties for columns.

<p>Make sure that when you submit this notebook, 
it contains the <tt>create table</tt> 
statement for each of the tables you
create in the database. If you don't have the full
create statement for a table, you will not get credit for it.<br>

<p><b>Note</b>: 
When you test your design in sqlite3, you might use <tt>alter table</tt> 
statements after the initial create. However, for the submission, you are
required to rewrite the whole sequence as a single <tt>create table</tt>
statement per table.

In [ ]:
# YOUR SCHEMA HERE

import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully");

conn.execute('''
    CREATE TABLE song (
        song_id INTEGER NOT NULL,
        title TEXT NOT NULL,
        artist TEXT NOT NULL,
        album TEXT,
        genre TEXT,
        release_date DATE,
        PRIMARY KEY (song_id)
        )
''')

conn.execute('''
    CREATE TABLE user (
        user_id INTEGER NOT NULL,
        user_name TEXT NOT NULL,
        PRIMARY KEY (user_id)
        )
''')

conn.execute('''
    CREATE TABLE ratings (
        song_id INTEGER,
        album TEXT,
        playlist_name TEXT,
        rating INTEGER,
        user_name TEXT,
        PRIMARY KEY (user_name, song_id, album, playlist_name)
        )
''')

conn.execute('''
    CREATE TABLE playlist (
        name TEXT NOT NULL,
        created DATE NOT NULL,
        song_id INTEGER NOT NULL,
        user_id INTEGER NOT NULL,
        PRIMARY KEY (name, song_id),
        FOREIGN KEY (song_id) REFERENCES song(song_id),
        FOREIGN KEY (user_id) REFERENCES user(user_id)
        )
''')

conn.close()

---

### Part II: Queries (5 points each)

<p>Every query must be written in a <font color="red">single</font>
SQL statement.
So, for example, you can have nested or multiple SQLs for a query, 
provided you can write
it all up with a single terminating semicolon in a SQL client session.
No Python code other than to execute the queries and display the results. 

<p>For any of the queries:
<ul>
<li>If the result might require breaking ties, then
<em>unless otherwise specified in the query</em>, 
let the ties be broken arbitrarily (you 
need not do anything explicit).
<li>If the result has fewer than the required number of entities,
report all of them.
<li>For all queries that ask for 'top n' or 'most', the result must appear
from highest ranked to lowest ranked.

</ul>


<p>Type the SQL queries in the cell following each problem description below. 

### Write queries for the following:

#### 1. Which 3 genres are most represented in terms of number of songs in that genre?<p>
The result must have two columns, named <tt>genre</tt> and 
<tt>number_of_songs</tt>.

In [ ]:
# YOUR QUERY HERE
conn.execute('''
    SELECT genre, COUNT(*) as num_songs
    FROM song
    GROUP BY genre
    ORDER BY num_songs DESC
    LIMIT 3;
''')

#### 2. Find names of artists who have songs that are in albums as well as outside of albums (singles).<p>
The result must have one column, named
<tt>artist_name</tt>.

In [ ]:
# YOUR QUERY HERE
conn.execute('''
    SELECT DISTINCT Artist.Name as artist_name
    FROM Artist
    WHERE EXISTS (
        SELECT 1
        FROM Song
        WHERE Song.ArtistID = Artist.ArtistID AND Song.AlbumID IS NOT NULL
    )
    AND EXISTS (
        SELECT 1
        FROM Song
        WHERE Song.ArtistID = Artist.ArtistID AND Song.AlbumID IS NULL
    );
''')

#### 3. What were the top 10 albums (albums with highest average user rating) in the period 1990-1999? 
Break ties using alphabetical order of
album names. (Period refers to the rating date, NOT the date of release).<p>
The result must have two columns, named <tt>album_name</tt> and 
<tt>average_user_rating</tt>.

In [ ]:
# YOUR QUERY HERE
conn.execute('''
    SELECT Album.Title as album_name, AVG(Rating.RatingValue) as average_user_rating
    FROM Album
    INNER JOIN Song ON Album.AlbumID = Song.AlbumID
    INNER JOIN Rating ON Song.SongID = Rating.SongID
    WHERE Rating.RatingDate BETWEEN '1990-01-01' AND '1999-12-31'
    GROUP BY Album.AlbumID
    ORDER BY average_user_rating DESC, Album.Title ASC
    LIMIT 10;
''')

#### 4. Which were the top 3 most rated genres
(this is the number of ratings
of songs in genres, not the actual rating scores) in the years 1991-1995?
(Years refers to the rating date, NOT the date of release).<p>
The result must have two columns, named <tt>genre_name</tt> and
<tt>number_of_song_ratings</tt>.

In [ ]:
# YOUR QUERY HERE
conn.execute('''
    SELECT Genre.Name as genre_name, COUNT(Rating.RatingID) as number_of_song_ratings
    FROM Genre
    INNER JOIN SongGenre ON Genre.GenreID = SongGenre.GenreID
    INNER JOIN Song ON SongGenre.SongID = Song.SongID
    INNER JOIN Rating ON Song.SongID = Rating.SongID
    WHERE Rating.RatingDate BETWEEN '1991-01-01' AND '1995-12-31'
    GROUP BY Genre.GenreID
    ORDER BY number_of_song_ratings DESC
    LIMIT 3;
''')

#### 5. Which users have a playlist that has an average rating of 4.0 or more?
(This is the average of the ratings for the playlist.)
A user may appear multiple times in the result if more than one of their
playlists make the cut.<p>
The result must 3 columns
named <tt>username</tt>, <tt>playlist_title</tt>, <tt>average_playlist_rating</tt>

In [ ]:
# YOUR QUERY HERE
conn.execute('''
    SELECT User.Username as username, Playlist.Title as playlist_title, AVG(Rating.RatingValue) as average_playlist_rating
    FROM User
    INNER JOIN Playlist ON User.UserID = Playlist.UserID
    INNER JOIN Rating ON Playlist.PlaylistID = Rating.PlaylistID
    GROUP BY Playlist.PlaylistID
    HAVING AVG(Rating.RatingValue) >= 4.0;
''')

#### 6. Who are the top 5 users that have rated the most songs? 
This includes all song ratings only, not album or playlist ratings. 
The result must have 2 columns, named <tt>username</tt> and
<tt>number_of_ratings</tt>.

In [ ]:
# YOUR QUERY HERE
conn.execute('''
    SELECT User.Username as username, COUNT(Rating.RatingID) as number_of_ratings
    FROM User
    INNER JOIN Rating ON User.UserID = Rating.UserID
    WHERE Rating.SongID IS NOT NULL
    GROUP BY User.UserID
    ORDER BY number_of_ratings DESC
    LIMIT 5;
''')

#### 7. Find the top 10 most prolific artists (most songs) in the years 1990-2010. 
Count each song in an album individually. <p>
The result must have 2 columns, named <tt>artist_name</tt> and
<tt>number_of_songs</tt>.

In [ ]:
# YOUR QUERY HERE
conn.execute('''
    SELECT Artist.Name as artist_name, COUNT(Song.SongID) as number_of_songs
    FROM Artist
    INNER JOIN Song ON Artist.ArtistID = Song.ArtistID
    WHERE Song.ReleaseDate BETWEEN '1990-01-01' AND '2010-12-31'
    GROUP BY Artist.ArtistID
    ORDER BY number_of_songs DESC
    LIMIT 10;
''')

#### 8. Find the top 10 songs that are in the most playlists. 
Break ties in alphabetical order of song titles.<p>
The result must have a 2 columns, named <tt>song_title</tt>
and <tt>number_of_playlists</tt>.

In [ ]:
# YOUR QUERY HERE
conn.execute('''
    SELECT Song.Title as song_title, COUNT(PlaylistSong.PlaylistID) as number_of_playlists
    FROM Song
    INNER JOIN PlaylistSong ON Song.SongID = PlaylistSong.SongID
    GROUP BY Song.SongID
    ORDER BY number_of_playlists DESC, Song.Title ASC
    LIMIT 10;
''')

#### 9. Find the top 20 most rated singles. 
(songs that are not part of an album).
Most rated refers to number of ratings, not actual rating scores.
The result must have 3 columns, named <tt>song_title</tt>,
<tt>artist_name</tt>, <tt>number_of_ratings</tt>.

In [ ]:
# YOUR QUERY HERE
conn.execute('''
    SELECT Song.Title as song_title, Artist.Name as artist_name, COUNT(Rating.RatingID) as number_of_ratings
    FROM Song
    INNER JOIN Artist ON Song.ArtistID = Artist.ArtistID
    INNER JOIN Rating ON Song.SongID = Rating.SongID
    WHERE Song.AlbumID IS NULL
    GROUP BY Song.SongID
    ORDER BY number_of_ratings DESC
    LIMIT 20;
''')

#### 10. Find all artists who stopped making music after 1993.<p>
Include all artists that have no songs or albums with a release date 
after 1993. 
The result should be a single column named <tt>artist_title</tt>.

In [ ]:
# YOUR QUERY HERE
conn.execute('''
    SELECT DISTINCT Artist.Name as artist_title
    FROM Artist
    WHERE NOT EXISTS (
        SELECT 1
        FROM Song
        WHERE Song.ArtistID = Artist.ArtistID AND Song.ReleaseDate > '1993-12-31'
    )
    AND NOT EXISTS (
        SELECT 1
        FROM Album
        WHERE Album.ArtistID = Artist.ArtistID AND Album.ReleaseDate > '1993-12-31'
    );
''')